.card1 {
	background-color: #FFBF00;
	text-align: center;
	vertical-align: center
}

.card2 {
	background-color: #B22222;
	text-align: center
}

.card3 {
	background-color: #3B7E00;
	text-align: center
}
