.ui-mobile #jqm-home {  background: #e6e6fa ; }
.ui-mobile #jqm-homeheader { padding: 5px 5px 0; text-align: center }
.ui-mobile #jqm-homeheader h1 { margin: 0 0 10px; }
.ui-mobile #jqm-homeheader p { margin: 0; }
/*.ui-mobile .jqm-themeswitcher { clear: both; margin: 20px 0 -15px; }*/

.ui-mobile #font-one { font-size: 25px }
.ui-mobile #font-two { font-size: 15px }