<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>html5</display-name>
	<!-- jWebSocket -->
	<listener> 
		<description>ServletContextListener</description>
		<listener-class>org.jwebsocket.appserver.ContextListener</listener-class>
	</listener>
	<servlet><!-- jWebSocket -->
		<servlet-name>WebSocketDemo</servlet-name>
		<servlet-class>org.jwebsocket.appserver.WebSocketDemo</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>okboard</servlet-name>
		<servlet-class>kr.pe.okjsp.ControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardadd</servlet-name>
		<servlet-class>kr.pe.okjsp.WriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardmemo</servlet-name>
		<servlet-class>kr.pe.okjsp.MemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardbookmark</servlet-name>
		<servlet-class>kr.pe.okjsp.BookmarkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardview</servlet-name>
		<servlet-class>kr.pe.okjsp.ViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardreply</servlet-name>
		<servlet-class>kr.pe.okjsp.ReplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardmodify</servlet-name>
		<servlet-class>kr.pe.okjsp.ModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboarddelete</servlet-name>
		<servlet-class>kr.pe.okjsp.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seq</servlet-name>
		<servlet-class>kr.pe.okjsp.BbsController</servlet-class>
	</servlet>

	<servlet-mapping><!-- jWebSocket -->
		<servlet-name>WebSocketDemo</servlet-name>
		<url-pattern>/WebSocketDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboard</servlet-name>
		<url-pattern>/bbs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardadd</servlet-name>
		<url-pattern>/write</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardmemo</servlet-name>
		<url-pattern>/jsp/memo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardbookmark</servlet-name>
		<url-pattern>/bookmark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardview</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardreply</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardmodify</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboarddelete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>seq</servlet-name>
		<url-pattern>/seq/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>